In [ ]:
import pandas as pd
import numpy as np

game_data = pd.read_csv("./clean_data/game_results.csv")
season_results = pd.read_csv("./clean_data/season_results.csv")

In [7]:
game_data.head()

,Unnamed: 0,Date,Team,H/A,Opponent,win_loss_result,Runs,Runs Allowed,Game Time,Day/Night,Attendance,Game Number,Year
0,0,2020-07-24,ARI,A,SDP,L,2.0,7.0,3:05,N,NaN,1,2020
1,1,2020-07-25,ARI,A,SDP,L,1.0,5.0,3:18,N,NaN,2,2020
2,2,2020-07-26,ARI,A,SDP,W,4.0,3.0,3:44,D,NaN,3,2020
3,3,2020-07-27,ARI,A,SDP,L,2.0,6.0,3:03,D,NaN,4,2020
4,4,2020-07-28,ARI,A,TEX,W,4.0,1.0,3:10,N,NaN,5,2020

In [9]:
season_results.head()

   Unnamed: 0  Season          Team Name  Wins  Losses   Win%    GB Team
0           0    2020     Tampa Bay Rays    40      20  0.667    --  TBR
1           1    2020   New York Yankees    33      27  0.550   7.0  NYY
2           2    2020  Toronto Blue Jays    32      28  0.533   8.0  TOR
3           3    2020  Baltimore Orioles    25      35  0.417  15.0  BAL
4           4    2020     Boston Red Sox    24      36  0.400  16.0  BOS

In [35]:
#join game_results with season results. 
game_data['Previous Year'] = game_data['Year'] - 1

analysis_data = pd.merge(
    game_data[['Game Number', 'Date', 'Team', 'Opponent','Year', 'Previous Year']], 
    season_results[['Season', 'Team', 'Win%']], 
    how='left', 
    left_on=['Opponent', 'Previous Year'], 
    right_on=['Team', 'Season'],   
    ).drop(['Team_y'], axis=1)

analysis_data.head()

   Game Number        Date Team_x Opponent  Year  Previous Year  Season  Win%
0            1  2020-07-24    ARI      SDP  2020           2019     NaN   NaN
1            2  2020-07-25    ARI      SDP  2020           2019     NaN   NaN
2            3  2020-07-26    ARI      SDP  2020           2019     NaN   NaN
3            4  2020-07-27    ARI      SDP  2020           2019     NaN   NaN
4            5  2020-07-28    ARI      TEX  2020           2019     NaN   NaN

In [45]:
(analysis_data[(analysis_data['Date'] > '2021-01-01') & (analysis_data['Game Number'] <= 30)]
 .drop(['Previous Year', 'Season'], axis=1)
 .groupby(by = ['Team_x', 'Year'], group_keys=False)
 .agg(
     Mean = ('Win%', np.mean)
 )
 #.agg(Mean = ('Mean', np.max))
 )

                 Mean
Team_x Year
ARI    2021  0.512500
       2022  0.493333
       2023  0.541667
       2024  0.478467
       2025  0.514067
...               ...
WSN    2021  0.532833
       2022  0.478000
       2023  0.501833
       2024  0.541296
       2025  0.507167

[150 rows x 1 columns]